-e git://github.com/genesix/apns-proxy-client-py.git@899b882244f044ac9ef98d94d8211ee884c27a60#egg=APNSProxyServerClient-master
-e git+git@github.com:djacobs/PyAPNs.git@c8028ed2126793c346eff89389fdfba433c581ac#egg=apns-master
flake8==2.1.0
mccabe==0.2.1
nose==1.3.0
pep8==1.4.6
pyflakes==0.7.3
pyzmq==14.0.1
simplejson==3.3.3
wsgiref==0.1.2
