-e git+git@github.com:voyagegroup/apns-proxy-client-py.git#egg=APNSProxyServerClient-master
-e git+git@github.com:djacobs/PyAPNs.git@2fa67b0abd42575b52dd2084d79b2d2680937763#egg=apns-master
flake8==2.1.0
mccabe==0.2.1
mock==1.0.1
nose==1.3.0
pep8==1.4.6
pyflakes==0.7.3
pyzmq==14.0.1
simplejson==3.3.3
wsgiref==0.1.2
